@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #A63636;
    --primary-shades: #210b0b;
    --para-color: #3A414A;
    --helper-color: #EC1F24;
    --white: #fff;
    --background-color: #f4ebab;

}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

body {
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: inline-block;
    width: 100%;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: var(--primary-color);
}

.para {
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--para-color);
}

ion-icon {
    font-size: 4rem;
    color: var(--para-color);
}

ion-icon:hover,
ion-icon:active {
    color: var(--helper-color);
    transform: scale(1.07);
}

/* ------------------------------
    header and navbar style sheet
 --------------------------------*/

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: 3.5rem;
}

.top .call-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    gap: 1rem;
}

.top p {
    color: var(--helper-color);
}
.top p a{
    color: var(--primary-color);
}
.top p a:hover,
.top p a:active {
    color: var(--helper-color);
    transform: scale(1.1);
}
    
.logo {
    width: 6rem;
    height: auto;
    margin: 0;
    padding: 0;
}

.logo-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
}

.logo-block a {
    color: var(--primary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    margin-top: 0.3rem;
}

.header .navbar .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.5rem;
}
.header .navbar .navbar-list a:hover{
    color: var(--helper-color);
    transform: scale(1.05);

}

.navbar-link {
    text-transform: uppercase;
    color: var(--primary-color);
}

/* sticky navbar */

.sticky .header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.sticky .section-hero {
    margin-top: 40px;
}

.sticky .mob-navbar .mobile-navbar-btn{
    margin: 2.8rem 4.7rem;
}

.mob-navbar .mobile-navbar-btn{
    right: 0;
    position: absolute;
    top: 0;
    margin: 6rem 4.7rem;
}


/* ===        =========== 
      mobile navbar 
====          =============
 */

/* .mobile-navbar-btn{
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.mobile-nav-icon[name="close-outline"] {
    display: none;
}
 */

.mobile-navbar-btn{
    display: none;
}

.mob-navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    top: 0px;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s linear;
    transform: translateX(100%);
}

.mob-navbar-list {
    gap: 10rem;
    display: grid;
}

.mob-navbar a {
    color: var(--primary-shades);
    font-size: 4rem;
}


/* ------------------------------
    hero section style sheet
 --------------------------------*/

.section-hero {
    position: relative;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;

    padding-top: 4rem;
}

.grid {
    display: grid;
    /* gap: 9.6rem; */
    gap: 3.6rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1.6rem 3.2rem;
    border-radius: 10rem;
    background-color: var(--helper-color);
    color: var(--white);
    transition: all 0.2s linear;
}

.btn:hover,
.btn:active {
    transform: scale(1.05);
}

.hero-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.primary-heading {
    font-size: 6rem;
    font-weight: 700;
}

.secondary-heading {
    font-size: 4rem;
    font-weight: 700;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hero-right img {
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10rem 0px;
}

.hero-sub {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 2rem;
    align-self: center;

    width: 63%;
    gap: 1rem;
}

.hero-sub div {
    display: flex;
    align-items: center;
}

.sub-right {
    justify-self: end;
}

.hero-title {
    align-self: end;
}

.main-right {
    padding-top: 5rem;
}

.main-left {
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-end; */
    flex-direction: column;

    gap: 3rem;
}
.main-logo{
    font-size: 0;
}

.sub-left div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-right div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-img {
    width: 4.3rem;
}

/* ======================================== 
free delivery
 ======================================== */

.delivery {
    width: 100%;
    background-color: var(--para-color);
    height: 13rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.delivery div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery img {
    width: 14rem;
}

.delivery h4 {
    color: var(--white);
    font-size: 2rem;
}

/* ======================================== 
        Product Section Start  
    ========================================  */


.grid-fraction-column {
    grid-template-columns: 0.7fr 1fr;
}

.section-product-data {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;

    justify-self: center;
}

.wedding-img {
    display: flex;
    justify-content: flex-start;

    justify-self: flex-end;
    width: 70%;
    height: auto;
}

.product-btn {
    width: fit-content;
}

.product-heading {
    font-size: 6rem;
    font-weight: 700;
}

.product-sub-heading {
    font-size: 3rem;
    font-weight: 700;
}

.product-para {
    font-size: 2rem;
}

/* ======================================== 
        Bio Section Start  
    ========================================  */

.grid-fraction2-column {
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
}

.bio-img {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.bio-img img{
    width: 56%;
}

.section-bio-data {
    justify-self: end;
}

.follow-me {
    font-size: 2rem;
}

.contact-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contact-icons a {
    font-size: 2rem;
    color: var(--primary-color);
}

.contact-icons a:hover,
.contact-icons a:active {
    color: var(--helper-color);
    transform: scale(1.1);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

/* ======================================== 
        Address Section Start  
    ========================================  */

.grid-fraction3-column {
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
}

.shop-img {
    /* width: 130rem; */
    margin: 0 auto;
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */

    width: fit-content;
    justify-self: center;
    gap: 2rem;
}
.location-img{
    font-size: 11rem;
    pointer-events: none;
}

.address h2 {
    font-size: 6rem;
    font-weight: 700;
}

.location {
    height: 64vh;
}

.location iframe {
    width: 100%;
    height: 100%;
}

/* ======================================== 
        Footer Section Start  
    ========================================  */

.footer {
    background-color: var(--para-color);
    margin-top: 3rem;
}

.grid-three-column {
    grid-template-columns: 1fr 3fr 2fr;
    gap: 0rem;
    padding-top: 0;
    padding: 3rem 0;
    max-width: 100rem;
}

.footer-logo {
    justify-self: center;
}

.footer-logo img {
    width: 8rem;
}

.footer p {
    color: var(--white);
}

.footer h3 {
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--white);
}

.footer-para {
    gap: 1rem;
    display: grid;
}

.footer ion-icon {
    color: var(--white);
    font-size: 3rem;
}

.footer ion-icon:hover,
.footer ion-icon:active {
    color: var(--background-color);
    transform: scale(1.07);
}

.footer-icons {
    width: fit-content;
}

.footer-call {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.footer-btn {
    padding: 1.2rem 2rem;
    height: fit-content;
    border-radius: 0;
}


/* ======================================== 
        Media Queries 
    ========================================  */

@media (max-width:1156px) {
    html {
        font-size: 56.25%;
        /* 1 rem = 9px */
        /* font-size: 43.75%; 1 rem = 7px */
    }
}

@media (max-width:1140px) {
    html {
        font-size: 50%;
        /* 1 rem = 9px */
        /* font-size: 43.75%; 1 rem = 7px */
    }
    .btn{
        font-size: 2.7rem;
    }
    .para{
        font-size: 2rem;
    }
}

@media (max-width:925px) {
    html {
        font-size: 43.75%;
        /* 1 rem = 7px */
    }
    .top{
        height: 4.5rem;
    }
}

/* @media (max-width:809px) {
        html{
            font-size: 37.5%; 
            1 rem = 6px
        }
    } */

.mobile{
    display: none;
}.desktop{
    display: grid;
}

@media (max-width:809px) {

    .para{
        font-size: 2.2rem;

    }
    .btn{
        font-size: 2.5rem;
    }
    .footer-btn{
        font-size: 2.7rem;
    }
    .follow-me{
        font-size: 3rem;
        font-weight: 500;
    }
    .contact-icons ion-icon{
        font-size: 4.5rem;
    }
    .contact-icons a {
        font-size: 2.7rem;
    }
    .footer p{
        font-size: 1.7rem;
    }
    .hero-title h1{
        font-size: 5rem;
    }
    .hero-title h3{
        font-size: 3rem;
    }
    
    .footer .grid-three-column{
        grid-template-columns: 1fr;
    }
    .footer-para{
        justify-content: center;
        justify-items: center;
        gap: 2rem;
    } .footer-para .logo{
        width: 11rem;
    } .footer-para .para{
        text-align: center;
    }
    .footer-call{
        padding: 2.5rem 0rem;
    }
    .footer ion-icon{
        font-size: 5rem;
    } .footer .para{
        font-size: 2.2rem;
    }
    .mobile{
        display: grid;
    }.desktop{
        display: none;
    }



    .hero-sub{
        font-size: 2.5rem;
    }

    
    .container {
        max-width: 71rem;
    }

    .section-hero .grid-two-column {
        grid-template-columns: 1fr;
    }

    .hero-title {
        align-self: center;
    }

    .grid {
        gap: 2.6rem;
    }

    .wedding-img {
        justify-self: center;
    }

    .bio-img {
        display: flex;
        justify-content: center;
    }

    .bio-img img {
        width: 40%;
    }

    .section-bio-data {
        justify-self: center;
    }

    .grid-fraction3-column {
        grid-template-columns: 1fr;
    }

    /* navbar */
    .header {
        position: relative;
        padding: 0 4rem;
    }
    .sticky .header{
        height: 10rem;
    }

    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        border: 3px solid var(--primary-shades);
        color: var(--primary-shades);
    }

    .mobile-nav-icon {
        width: 5rem;
        height: 5rem;
        color: var(--primary-shades);
    }

    /* mobile navbar */

    .mobile-navbar-btn{
        display: block;
    }
    .navbar{
        display: none;
    }
    .main-logo .logo{
        width: 8rem;
    }

    /* deliver */

    .delivery img{
        width: 13rem;
    }

    /* bio */

    /* .bio .grid-two-column{
        padding-top: 0;
    } */

}

@media (max-width:425px){
    .delivery img{
        width: 12rem;
    }
}

@media (max-width:500px){
    .grid-three-column{
        padding: 3rem 16px;
    }
}

/* @media (max-width:695px) {
        html{
            font-size: 31.25%; 
            1 rem = 5px
        }
    } */
/* @media (max-width:577px) {
        html{
            font-size: 25%; 
            1 rem = 4px
        }
    } */

/* @media (max-width:463px) {
        .container{
            max-width: 71rem;
        }
        .section-hero .grid-two-column{
            grid-template-columns: 1fr;
        }
    } */